#main{
    padding-top: 50px;
    display: block;
}
.container1 {
    height: auto;
}

.container2 {
    height: auto;
    background: #fff;
}
.cv{
    color: white;
    text-decoration: none;
}

.container3 {
    height: auto;
    width: auto;
}
@media  (min-width:768px){
    .container1 {
        height: 60vh;
        position: sticky;
        top: 0;
    }
    
    .container3 {
        height: auto;
        width: auto;
        position: sticky;
        top: 0;
    }
}
@media  (max-width:426px){
    .main{
        padding-top:10px;
    }
}
/* cv button */
.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
}

.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
    transform: translateY(100%)
}

.downloa#svg polyline,
.downloa#svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* cv button */
/* home animation text  */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

.dropping-texts {
    display: inline-block;
    height: 36px;
}

.dropping-texts>div {
    font-size: 0px;
    opacity: 0;
    position: absolute;
    font-weight: 300;
    box-shadow: 0px 60px 25px -20px rgba(0, 0, 0, 0.5);
}

.dropping-texts>div:nth-child(1) {
    animation: roll 5s linear infinite 0s;
}

.dropping-texts>div:nth-child(2) {
    animation: roll 5s linear infinite 1s;
}

.dropping-texts>div:nth-child(3) {
    animation: roll 5s linear infinite 2s;
}

@keyframes roll {
    0% {
        font-size: 0px;
        opacity: 0;
        margin-left: -30px;
        margin-top: 0px;
        transform: rotate(-25deg);
    }

    3% {
        opacity: 1;
        transform: rotate(0deg);
    }

    5% {
        font-size: inherit;
        opacity: 1;
        margin-left: 0px;
        margin-top: 0px;
    }

    20% {
        font-size: inherit;
        opacity: 1;
        margin-left: 0px;
        margin-top: 0px;
        transform: rotate(0deg);
    }

    27% {
        font-size: 0px;
        opacity: 0.5;
        margin-left: 20px;
        margin-top: 100px;
    }

    100% {
        font-size: 0px;
        opacity: 0;
        margin-left: -30px;
        margin-top: 0px;
        transform: rotate(15deg);
    }
}

@keyframes roll2 {
    0% {
        font-size: 0px;
        opacity: 0;
        margin-left: -30px;
        margin-top: 0px;
        transform: rotate(-25deg);
    }

    3% {
        opacity: 1;
        transform: rotate(0deg);
    }

    5% {
        font-size: inherit;
        opacity: 1;
        margin-left: 0px;
        margin-top: 0px;
    }

    30% {
        font-size: inherit;
        opacity: 1;
        margin-left: 0px;
        margin-top: 0px;
        transform: rotate(0deg);
    }

    37% {
        font-size: 1500px;
        opacity: 0;
        margin-left: -1000px;
        margin-top: -800px;
    }

    100% {
        font-size: 0px;
        opacity: 0;
        margin-left: -30px;
        margin-top: 0px;
        transform: rotate(15deg);
    }
}

@keyframes bg {
    0% {
        background: #ff0075;
    }

    3% {
        background: #0094ff;
    }

    20% {
        background: #0094ff;
    }

    23% {
        background: #b200ff;
    }

    40% {
        background: #b200ff;
    }

    43% {
        background: #8BC34A;
    }

    60% {
        background: #8BC34A;
    }

    63% {
        background: #F44336;
    }

    80% {
        background: #F44336;
    }

    83% {
        background: #F44336;
    }

    100% {
        background: #F44336;
    }
}

/* home animation text  */

/* home animation   */

.absolute {
    position: absolute;
}

.inline-block {
    display: inline-block;
}

.loader {
    display: flex;
    margin: 0.25em 0;
}

.w-2 {
    width: 0.5em;
}

.dash {
    animation: dashArray 2s ease-in-out infinite,
        dashOffset 2s linear infinite;
}

.spin {
    animation: spinDashArray 2s ease-in-out infinite,
        spin 8s ease-in-out infinite,
        dashOffset 2s linear infinite;
    transform-origin: center;
}

@keyframes dashArray {
    0% {
        stroke-dasharray: 0 1 359 0;
    }

    50% {
        stroke-dasharray: 0 359 1 0;
    }

    100% {
        stroke-dasharray: 359 1 0 0;
    }
}

@keyframes spinDashArray {
    0% {
        stroke-dasharray: 270 90;
    }

    50% {
        stroke-dasharray: 0 360;
    }

    100% {
        stroke-dasharray: 270 90;
    }
}

@keyframes dashOffset {
    0% {
        stroke-dashoffset: 365;
    }

    100% {
        stroke-dashoffset: 5;
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    12.5%,
    25% {
        rotate: 270deg;
    }

    37.5%,
    50% {
        rotate: 540deg;
    }

    62.5%,
    75% {
        rotate: 810deg;
    }

    87.5%,
    100% {
        rotate: 1080deg;
    }
}


/* home animation   */

.card2 {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bg2 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:rgb(0, 0, 72);
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
     /* cdde */

     .cardimg{
        height: 200px;
        object-fit: cover;
     }

     /* cdde */

     /* section-about */

     #section-about{
        display: none;
     }

     /* section-about */

     .fontanime{
        font-family: serif;
     }

     /* social icon */

     .card-social {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 25px;
        gap: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
      }
      
      /* for all social containers*/
      .socialContainer {
        width: 52px;
        height: 52px;
        border-radius: 5px;
        background-color: rgb(44, 44, 44);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition-duration: 0.3s;
      }
      /* instagram*/
      .containerOne:hover {
        background-color: #d62976;
        transition-duration: 0.3s;
      }
      /* twitter*/
      .containerTwo:hover {
        background-color: #00acee;
        transition-duration: 0.3s;
      }
      /* linkdin*/
      .containerThree:hover {
        background-color: #0072b1;
        transition-duration: 0.3s;
      }
      /* Whatsapp*/
      .containerFour:hover {
        background-color: green;
        transition-duration: 0.3s;
      }
      
      .socialContainer:active {
        transform: scale(0.9);
        transition-duration: 0.3s;
      }
      
      .socialSvg {
        width: 17px;
      }
      
      .socialSvg path {
        fill: rgb(255, 255, 255);
      }
      
      .socialContainer:hover .socialSvg {
        animation: slide-in-top 0.3s both;
      }
      
      @keyframes slide-in-top {
        0% {
          transform: translateY(-50px);
          opacity: 0;
        }
      
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      

     /* social icon */
     #section-about{
        display: none;
     }
     #section-skills{
        display: none;
     }